---
layout: denmark
title: VM i dag
permalink: /denmark/
---

<script>
{% include locales/denmark.js %}
</script>

<section class="matches animated slideInDown" role="main">
  <header class="matches-header">
    <button class="btn show-all"></button>
  </header>

  {% for match in site.data.denmark %}
    <article class="match">
      <div class="match__meta">
        <time class="match__time">
          {{ match.date }}
        </time>

        <h4 class="match__group">
          {{ match.type }} {{ match.group }}
        </h4>
      </div>

      <div class="match__info">
        <h3 class="match__teams">
          <span class="match__teams__home">
            {{ match.home_team }}
          </span>
          <span class="match__teams__score">
            {{ match.home_goals }}
          </span>
          –
          <span class="match__teams__score">
            {{ match.away_goals }}
          </span>
          <span class="match__teams__away">
            {{ match.away_team }}
          </span>
        </h3>

        <ul class="match__tv">
          <li>{{ match.channels }}</li>
        </ul>
      </div>
    </article>
  {% endfor %}
</section>
