<header class="header" role="banner">
  <a class="header-home link-internal" href="/" title="Till spelschemat">{{ 'icon-back.svg' | image }}</a>
  <a class="header-about link-internal" href="/om" title="Om VM Idag">{{ 'icon-info.svg' | image }}</a>
  <a class="header-twitter" href="http://bit.ly/vmidag2014-twitter" title="Följ VM Idag på Twitter">{{ 'icon-twitter.svg' | image }}</a>
  <a class="header-instagram" href="http://bit.ly/vmidag2014-instagram" title="Följ VM Idag på Instagram">{{ 'icon-instagram.svg' | image }}</a>
</header>
