<header class="header" role="banner">
  <a class="header-home" href="/" title="Till spelschemat">{{ 'icon-back.svg' | image }}</a>
  <a class="header-about" href="/om" title="Om VM Idag">{{ 'icon-info.svg' | image }}</a>
  <a class="header-twitter" href="https://twitter.com/vmidag" title="Följ VM Idag på Twitter">{{ 'icon-twitter.svg' | image }}</a>
  <a class="header-instagram" href="https://instagram.com/vmidag" title="Följ VM Idag på Instagram">{{ 'icon-instagram.svg' | image }}</a>
</header>
