@import "compass";
@import "bower_components/normalize-scss/normalize";

$color-yellow: #fff100;
$color-green: #00ae55;
$color-green-dark: #00813f;
$color-blue: #004f9e;

// 400, 700, 900
$font-weight: 400;

// BASE ------------------------------------------------------------------------
*,
*:before,
*:after {
  @include box-sizing(border-box);
  -webkit-font-smoothing: antialiased;
}

html {
  background-color: $color-yellow;
  color: $color-green-dark;
  font-family: 'Roboto', sans-serif;
  overflow-y: scroll;
  position: relative;
  text-rendering: optimizeLegibility;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;

  &:after {
    background-image: image-url('bg.svg');
    background-attachment: fixed;
    background-position: -60px -60px;
    background-repeat: no-repeat;
    background-size: 120%;
    content: "";
    opacity: .1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }
}

body {
  margin: 0 auto;
  max-width: 800px;
}

a {
  color: $color-blue;
}

// GRID

%col {
  display: inline-block;
}

// MATCHES ---------------------------------------------------------------------
.match {
  @include clearfix;
  margin: 0 0 10px;
  padding: 20px;

  &:last-child {
    margin-bottom: 0;
  }

  &:hover {
    @include border-radius(2px);
    background: rgba(0, 0, 0, .05);
  }
}

.match__time,
.match__group,
.match__teams,
.match__tv {
  @extend %col;
}

.match__time {
  width: 100px;
}

.match__group {
  margin: 0;
  width: 120px;
}

.match__teams {
  margin: 0;
}

.match__tv {
  float: right;
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    display: inline-block;
  }
}
